%h1 About
%hr
%p GoPaste is a Nopaste clone. It is written in Ruby using the Sinatra framework. The pastes are stored in a MongoDB collection. The complete code is available at <a href="https://github.com/halfdan/gopaste">GitHub</a>.